.main-container {
    .announcement-bar {
        background-color: $primary-color;
        .inner-announcement-bar {
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
        }
    }
    header {
        // background-color: $secandary-color;
        // .inner-header {

        // }
    }
}